<div class = "root">

<% @models.each do |model| %>
  <%= model.phone.make %>
  <%= model.name_model %><br><br>
  <%= model.price %><br><br>
  <%= link_to "       checkout       ", phone_path(model) %>
<% end %>
</div>
